*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.nav-icon{
    background:linear-gradient(98deg,#677280 1.18%,#A626D3 108%);    height:80px;
    display:flex;
}
.img-icon{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.head{
    margin-left: 8px;
    color:aliceblue;
}
.head3{
    position: absolute;
    right:5px;
    color:aliceblue;
    
}
.form{
    display:grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;

}
.form-button{
    grid-column: 1 / -1;
    border-radius: 10px;
    background-color: #A626D3;
    cursor: pointer;
}
main{
    padding:36px;
}
.meme{
    position:relative;
}
.meme--image{
    max-width: 100%;
    border-radius:3px;

}
.meme-text{
    position:absolute;
    width:80%;
    text-align: center;
    left:50%;
    translate: translateX(-50%);
     margin:15px 0; 
    padding: 0 5px; 
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;


}
.bottom{
    bottom:0;
}
.top{
    top:0;
}